@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #fbf8f1;
  color: #333;
  /* FFFCDC */
}
.header {
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  margin-left: 140px;
  margin-top: 20px;
  color: #333;
  border-bottom: 4px solid #333;
}
.iit {
  margin: 10px 0px;
  text-align: center;
}
.details {
  width: 80%;
  margin: auto;
}
h2 {
  font-weight: 300;
}
