@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #fbf8f1;
  color: #333;
  /* FFFCDC */
}
.heading {
  font-weight: 700;
  margin-left: 140px;
  font-size: 40px;
}
.header {
  display: flex;
  text-align: left;
  margin: 20px;
  color: #333;
  border-bottom: 3px solid rgb(121, 121, 121);
  align-items: center;
  justify-content: space-between;
}
.links a {
  margin-right: 120px;
  font-size: 20px;
  color: rgba(51, 51, 51, 0.568);
  text-decoration: none;
}
.links a:hover {
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}
.iit,
.nit,
.tier3 {
  margin: 10px 0px;
  text-align: center;
}
.details {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
h2 {
  font-weight: 300;
}

td,
tr {
  background-color: transparent !important;
}

@media screen and (max-width: 600px) {
  .heading {
    text-align: center;
    margin: 10px;
    font-size: 36px;
  }
  .header {
    margin: 0px;
    width: 100%;
    text-align: center;
    display: block;
  }
  .links a {
    display: none;
  }
  .content {
    width: 100%;
  }
  h2 {
  font-weight: 300;
  font-size: 24px !important;
  width: 80%;
  margin: 0px;
  margin: auto;
}
  .iit,
  .nit,
  .tier3 {
    margin: 10px 0px;
    text-align: center;
  }
  .table {
    width: 80% !important;
    margin: auto !important;
    font-size: 14px !important;
  }
  .details {
  width: 100%;
}

}
