@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@100;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333;
  /* FFFCDC */
}
body {
  background-color: #fff;
}
.heading {
  font-weight: 700;
  margin-left: 140px;
  font-size: 40px;
}
.header {
  display: flex;
  text-align: left;
  margin: 20px;
  color: #333;
  border-bottom: 3px solid rgb(121, 121, 121);
  align-items: center;
  justify-content: space-between;
}

.links a {
  margin-right: 120px;
  font-size: 20px;
  font-weight: 700 !important;
  color: rgba(51, 51, 51, 0.568);
  text-decoration: none;
}
.links a:hover {
  color: #333;
  text-decoration: none;
  transition: 0.5s;
}
.iit,
.nit,
.tier3 {
  margin: 10px 0px;
  text-align: center;
}
.img-gallery {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.aboutus {
  padding-top: 20px;
  width: 90%;
  margin: auto;
  background-color: #191919;
  padding-bottom: 20px;
}
.aboutus h3,
p {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #191919;
  color: #fff;
}
.aboutus p {
  font-size: 22px;
  text-align: justify;
}
.aboutus h3 {
  font-family: "Playfair Display", serif !important;
}
h5 {
  background-color: transparent !important;
}
.details {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}
h2 {
  font-weight: 300;
  font-family: "Playfair Display", serif !important;
}

th {
  background-color: #08122f !important;
  color: white !important;
}

td,
tr {
  background-color: transparent !important;
}

footer {
  width: 100%;
  height: 20vh;
  background-color: #191919 !important;
  color: white !important;
}
.ftname {
  background-color: #191919;
  font-family: "Playfair Display", serif !important;
  margin-left: 50px;
  font-size: 36px;
  color: #fff;
}
.ftcontent {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ftcontent a {
  color: #fff;
  text-decoration: none;
}
.ftcontent a:hover {
  color: rgba(255, 255, 255, 0.603);
  text-decoration: none;
}

footer P {
  background-color: #191919;
  color: rgba(255, 255, 255, 0.555);
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .heading {
    text-align: center;
    margin: 10px;
    font-size: 36px;
  }
  .header {
    margin: 0px;
    width: 100%;
    text-align: center;
    display: block;
  }
  .links a {
    display: none;
  }
  .img-gallery {
    width: 90%;
    margin-top: 20px;
  }
  .aboutus {
    width: 90%;
  }
  .aboutus p {
    font-size: 12px;
  }
  .content {
    width: 100%;
  }
  h2 {
    font-weight: 300;
    font-size: 24px !important;
    width: 80%;
    margin: 0px;
    margin: auto;
  }
  .iit,
  .nit,
  .tier3 {
    margin: 10px 0px;
    text-align: center;
  }
  .table {
    width: 80% !important;
    margin: auto !important;
    font-size: 14px !important;
  }
  .details {
    width: 100%;
  }
  .ftname {
    margin-left: 0px;
    text-align: center;
    margin-bottom: 20px;
  }
  .ftcontent {
    padding-top: 20px;
    display: block;
  }
  .ftcontent a {
    margin-left: 20%;
    transform: translateX(-20);
  }
  footer {
    width: 100%;
  }
  footer p {
    margin-top: 20px;
    padding: 0;
  }
}
